<div class="container">
    <header>
        <img class="headerLogo" src="/assets/images/betterburger_logo.svg" alt="burger" />
    </header>
</div>

<div class="container">
		<div class="enter_section">
            <h2>Describe a burger you want to eat then click the "Build it!" button.</h2>
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control2" name="burger_name" value="" id="enter_text">
                <br>
				<button type="submit" class="burgerBtn" id="text-enter-button">Build it!</button>
			</form>
		</div>
</div>

<div class="container">
	<div class ="row">
		<div class="columnLeft" class="task">
			<h3>Ready to eat!</h3>
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				
					<p>{{this.id}}. {{this.burger_name}}</p>
					<br>
					<form class="devour-form">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="devourBtn">Devour it!</button><br><br>
					</form>
				
			
				{{/unless}}
			  {{/each}}
		</div>

		<div class="columnRight" class="task">
			<h3>Devoured:</h3>
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>